<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HouseManagement.Properties.Settings.QuanLyNhaConnectionString"
            connectionString="Data Source=DESKTOP-QC3TBIE\SQLEXPRESS;Initial Catalog=QuanLyNha;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>